.form-control{
  background-color: rgb(194, 151, 235);
  padding: 12px 20px;
  width: 24%;
  text-align: center;
}
input{
  margin-bottom: 15px;
  padding: 8px 16px;
  border-radius: 10px;
  outline: none;
  border-color: rgb(194, 151, 235);
}
button{
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
}
