.form-control {
  background-color: rgb(248, 148, 81);
  padding: 16px 24px;
  width: 35%;
  text-align: center;
}
input {
  margin-bottom: 15px;
  padding: 8px 16px;
  border-radius: 10px;
  outline: none;
  border-color: rgb(248, 148, 81);
  width: 75%;
}
button {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
}
label{
  margin-right: 20px;
}
table{
  width: 100%;
}

