<h1>Hello Huy</h1>
<h2>Where do u want to go?</h2>

<nav>
  <ul>
    <li routerLink="/about" routerLinkActive="active"><a >About</a></li>
    <li routerLink="/home" routerLinkActive="active"><a >Home</a></li>
    <li routerLink="/templatedrivenform" routerLinkActive="active"><a >Template Form</a></li>
    <li routerLink="/reactiveform" routerLinkActive="active"><a >Reactive Form</a></li>
    <li routerLink="/getdata" routerLinkActive="active"><a >Get Data</a></li>

  </ul>
</nav>
<router-outlet></router-outlet>
