.getData {
  background-color: rgb(81, 218, 149);
  width: 40%;
  margin: auto;
  text-align: center;
  box-shadow: 7px 10px rgb(100, 243, 172);
  height: auto;
  padding: 20px 0;
  display: inline-block;
}
