.learning{
  background-color: rgb(44, 186, 190);
  width: 45%;
  margin: auto;
  text-align: center;
  box-shadow: 7px 10px rgb(112, 226, 230);
  height: auto;
  padding: 20px 0;
}
.learning2{
  float: left;
}
h1{
  color: white;
}
input,button{
  padding: 15px 20px;
}

