<div class="learning">
  <h1>this is component HOME</h1>
  <h1>Data binding</h1>
  <p>{{name}}</p>
  <input type="text" value="{{name}}">
  <br>
  <input type="text" [value]="subName" title="This is {{titleName}}">
  <br>
  <input type=" text" [value]="name" [title]="'This is ' + titleName">

  <h3 *ngIf="age > 25">You r too old</h3>
  <h3 *ngIf="age <= 25">You r still young</h3>

  <div *ngIf="age > 25;then young;else old"></div>
  <ng-template #young>
    <h3> You r still young!</h3>
  </ng-template>
  <ng-template #old>
    <h3>You r too old!</h3>
  </ng-template>

  <h1>Event Binding</h1>
  <input type="text" [(ngModel)]="fullname">
  <p>Hi! {{fullname}}</p>
  <button (click)="resetName()">Reset</button>
</div>

<div>
  <h3>Fruits</h3>
<table>

</table>

<h3>City</h3>
<select id="city" (change)="changeCity($event)">
  <option *ngFor="let data of CountryData" value="{{data.city}}">{{data.city}}</option>
</select>
<h3>District</h3>
<select id="district">
  <option *ngFor="let district of districts" value="{{district}}">{{district}}</option>
</select>
</div>


